*                @vinicius @weslley @ranieri
/apps/web/       @vinicius
/apps/api/       @ranieri
/infra/          @weslley
/docker-compose.yml @weslley
/.github/        @weslley
/docs/adr/       @weslley
